body {
  margin: 0;
  font-family: "Parkinsans", "Open Sans";
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Parkinsans", "Open Sans", source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.handle {
  position: absolute;
  z-index: 1;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid black;
  transition: background-color 0.3s ease;
}
.custom-alert-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(41, 95, 152, 0.6); /* Semi-transparent #295F98 */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.custom-alert {
  background: linear-gradient(135deg, #295F98, #3876BF); /* Blue gradient */
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 300px;
  text-align: center;
  animation: fadeIn 0.3s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.custom-alert h2 {
  margin-top: 0;
  font-size: 1.4em;
  color: #ffffff;
}

.custom-alert-message {
  margin: 15px 0;
  font-size: 1em;
  color: #C6E7FF; /* Light blue for messages */
  line-height: 1.5;
}

.close-btn {
  background-color: #295F98; /* Darker blue */
  color: #ffffff;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
}

.close-btn:hover {
  background-color: #3876BF; /* Slightly lighter blue */
}

.custom-alert-message .highlight {
  color: #FFDD57; /* Yellow for highlights */
  font-weight: bold;
}
